[submodule "submodules/ncs-ros"]
	path = submodules/ncs-ros
	url = https://github.com/ksu-auv-team/ncs-ros.git
[submodule "catkin_ws/src/movement_package"]
	path = catkin_ws/src/movement_package
	url = https://github.com/ksu-auv-team/movement_package.git
[submodule "submodules/subdriver"]
	path = submodules/subdriver
	url = https://github.com/ksu-auv-team/subdriver.git
[submodule "submodules/network_wrapper"]
	path = submodules/network_wrapper
	url = https://github.com/ksu-auv-team/network_wrapper.git
[submodule "submodules/sub_vizualizer"]
	path = submodules/sub_vizualizer
	url = https://github.com/ksu-auv-team/sub_vizualizer.git
[submodule "catkin_ws/src/submarine_msgs_srvs"]
	path = catkin_ws/src/submarine_msgs_srvs
	url = https://github.com/ksu-auv-team/submarine_msgs_srvs.git
