[submodule "submodules/subdriver2018"]
	path = submodules/subdriver2018
	url = https://github.com/ksu-auv-team/subdriver2018.git
[submodule "submodules/jetson_nano_inference"]
	path = submodules/jetson_nano_inference
	url = https://github.com/ksu-auv-team/jetson_nano_inference
[submodule "submodules/ncs-ros"]
	path = submodules/ncs-ros
	url = https://github.com/ksu-auv-team/ncs-ros.git
[submodule "submodules/movement_package"]
	path = submodules/movement_package
	url = https://github.com/ksu-auv-team/movement_package.git
[submodule "catkin_ws/src/movement_package"]
	path = catkin_ws/src/movement_package
	url = https://github.com/ksu-auv-team/movement_package.git
