# Compiled python:
*.pyc

# Swap files:
*.swp

# Nvidia's tf_trt_models repo gets downloaded on setup
tf_trt_models/

# Ignore everything that gets downloaded, execpt for example things:
data/*
!data/coco_label_map.pbtxt
!data/example_layout/

# Ignore everything that users add to the training repo that isin't for example purposes:
training/*
!training/README.md
!training/scripts
!training/example_training_layout

# Catkin Workspace Things:
# Catkin_Workspace Things:
catkin_ws/build
catkin_ws/devel
